/**************************
    General
**************************/
:root {
    --app-background-color: #F5F7FB;
    --main-text-color: #293264;
    --button-color: #4D5B9E;
    --button-hover-color: #384273;
    --button-text-color: #F5F7FB;
    --quiz-option-button-color: #4D5B9E;
    --quiz-option-active-button-color: #D6DBF5;
    --quiz-question-line: #DBDEF0;
    --quiz-correct-option-color: #94D7A2;
    --quiz-wrong-option-color: #F8BCBC;
    --quiz-wrong-text-option-color: #6c6d70;
}

* {
    box-sizing: border-box;
    transition: all 100ms ease-in-out;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

#root {
    background: var(--app-background-color);
    height: auto;
}

h1, h2, h3 {
    font-family: 'Karla', sans-serif;
    margin: 0;
    color: var(--main-text-color);
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.3em;
}

p {
    margin: 0;
    color:var(--main-text-color);
}

button {
    background: var(--button-color);
    color: var(--button-text-color);
    border-radius: 15px;
    border: none;
    padding: 1em;
    user-select: none;
    cursor: pointer;
}

button:hover {
    background: var(--button-hover-color);
}

main {
    position: relative;
    display: flex;
    justify-content: center;
}

main:has(#main-container #start-screen) {
    height: 100vh;
    align-items: center;
}

main:has(#main-container #quiz) {
    height: auto;
}

#main-container {
    position: relative;
    z-index: 1;
    padding: 3em 10vw;
}

.bg-image-top-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.bg-image-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

/**************************
    Start Screen
**************************/
#start-screen {
    text-align: center;
}

#start-screen button {
    margin-top: 1.5em;
}

/**************************
    Quiz
**************************/
.quiz-question {
    border-bottom: 1px solid var(--quiz-question-line);
    padding: 1em 0;
}

.quiz-question:last-child {
    border-bottom: none;
}

#quiz form {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    padding: 0.8em 0;
}

#quiz .option {
    background: none;
    border: 1px solid var(--quiz-option-button-color);
    border-radius: 20px;
    padding: 0.5em 0.8em;
    color: var(--main-text-color);
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    cursor: pointer;
    display:flex;
    justify-content: center;
}

#quiz .option:hover {
    background: var(--quiz-option-active-button-color);
}

#quiz .option:has(input:checked) {
    background: var(--quiz-option-active-button-color);
}

#quiz .option input {
    display: none;
}

#quiz .option.locked {
    pointer-events: none;
}

#quiz .option.correct:has(input:checked) {
    background: var(--quiz-correct-option-color);
    border-color: var(--quiz-correct-option-color);
}

#quiz .option.wrong:has(input:checked) {
    background: var(--quiz-wrong-option-color);
    border-color: var(--quiz-wrong-option-color);
    color: var(--quiz-wrong-text-option-color);
}

#quiz #footer-container {
    text-align: center;
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
}

#quiz #footer-container p {
    font-weight: 700;
    color: var(--main-text-color);
}

#quiz #footer-container div {
    display: flex;
    align-items: center;
    gap: 1em;
}

@media (min-width: 500px) {
    #quiz .option {
        justify-content: start;
    }

    #quiz form {
        flex-direction: row;
    }
}

@media (min-width: 800px) {
    #main-container {
        max-width: 800px;
    }

    #start-screen p {
        font-size:1.8rem;
    }
    
    h1 {
        font-size: 4rem;
    }
}
  